{% extends "base.html" %}
{% block content %}
<style type="text/css"> body{ background: url("../static/img/bg/pablo.jpg") !important; background-size: cover !important; background-repeat: repeat !important; background-position: center !important;}</style>
<style>
  th {background-color: #008080; color: white; text-align: center; padding: 8px;}
  tr:nth-child(even){background-color: #E8875C;}
</style>


  <!-- !PAGE CONTENT! -->

  <!-- Dataset Preview Display -->
  <div class="w3-main" style="margin-left:70px; margin-top:30px; margin-right:70px;">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> {{ message }} </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


  <!-- Header -->
  <header class="w3-container" style="padding-top:15px; text-align:center;">
    <h2 style="font-family: Raleway; color: #008080;"><b><i class="fa fa-database"></i> Dataset Preview</b></h2>
  </header>

  <div class="w3-responsive" style="padding-top:15px; text-align:center;">

    {{ data.to_html(classes="table table-striped", na_rep="NULL") | safe}}

  </div><br>



{% endblock %}
