{% extends "base.html" %}
{% block content %}
<style type="text/css">
  body { background: url("../static/img/bg/pablo.jpg") !important; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important;}
</style>


<p></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4" style="color: #008080; font-family:verdana;"><b><i class="fa fa-cloud-upload"></i> Upload Dataset</b></h1>
</div>
<p></p>

  <div class="container">

    <!-- Flashing prompt/messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> {{ message }} </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <div class="card-deck mb-2 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-body CardBodyImg">
          <ul class="list-unstyled mt-3 mb-4">
            <span class="badge badge-pill badge-info" style="font-family: Montserrat;">Acceptable Data Format: CSV</span><br>
            <span class="badge badge-pill badge-info" style="font-family: Montserrat;">Uploading new dataset will erase any previous datasets.</span><br>
          </ul>

          <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input form-control-sm border-dark" id="new_dataset" name="new_dataset" aria-describedby="new_datasetAddon">
                <label class="custom-file-label" for="new_dataset"><i class="fa fa-search"></i><small><em> Select file!</em></small></label>
              </div><br>
              {% for error in form.new_dataset.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div><br>

            <div class="form-group row">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success btn-lg" style="font-family: Montserrat;"><i class="fas fa-upload"></i> Upload</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>



{% endblock %}
